* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*HEADER*/
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

nav {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 60px;

}

.nav .logo img {
    height: 100%;
    vertical-align:top;
}

.enlaces-header {
    font-weight: 300;
}

.nav .enlaces-header a {
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
}

contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textos-header {
    margin: 0 0 0 20px;
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}


.contenido-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #2870db;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}


.hamburguer .signin{
  margin: 28px 0 0 0;
  width: 130px;
  background: #8BC347;
  text-align: center;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  border-radius: 25px;
}

.hamburguer .signup{
  margin: 28px 0 0 0;
  width: 130px;
  text-align: center;
  color: #000;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border-radius: 25px;
}
