#hid {
        display: none;
    }
#tbm{
  width: 100%;

}
#nombreBDL{
  font-size: 45px;
  font-style: bold;
}

#tema{
    font-size: 20px;
    text-align: right;
}

.bdg{
  margin: 10px;
  padding: 2px 10px 2px 10px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #80B742, #8BC347, #80B742);
  color: #fff;
}

.view-data {
  margin: 45px 6% 0 6%;
}

.view-data p{
  margin-bottom: 30px;
}

.view-data span{
  font-size: 20px;
  color: #80B742;
}


/**/
#col-datos{
  text-align: left;
}
.tb-dt{
  margin-left: 5%;
}
