/**/
.recipiente {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 3fr;
  grid-gap: 0rem;
  padding: 0 1rem;
}
/**/
.panel{
margin-left: 20px;
font-size: 20px;
}

.panel table {
  text-align: right;
}
.panel a {
  padding: 30px 0;
  color: #999;
  text-decoration: none;
}

.panel tr {
  height: 50px;
}

.panel td {
  border-bottom: 2px solid #d9d9d9;
}

.panel a:hover{
  color: #8BC347;
}
/**/
.contenido .title-p{
  margin-left: 260px; /*comentar esta linea y quitar el .title-p si se desea que todos los elementos del contenido esten centrados*/
  align-items: center;
  text-align: center;
}
/**/
.title-p {
  margin: 28px 0 0 0;
  width: 130px;
  background: #80B742;
  text-align: center;
  align-items: center;
  color: #fff;
  padding: 10px 300px;
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  border-radius: 10px;
}

.row.despliegue {
  margin-top: 100px;
  margin-left: 150px;
}

.xd{
  border-radius: 15px;
  text-align: left;
  width: 675px;
  background: ;
  color: #000;
}

.despliegue div{
  margin-bottom: 30px;
  text-align: center;
}
.despliegue input{
  width: 60%;
}

.despliegue label{
  margin-left: 20%;
}

.despliegue select{
  width: 60%;
  margin-left: 20%;
}
/**/
.enviar-btn{
    width: 10%;
    height: 30px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 0.8rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #80B742, #8BC347, #80B742);
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-size: 200%;
}

/**/
.btn-cnt{
  margin-left: 70%;
  width: 100%;
}
