*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.bck-elipse{
  position: fixed;
	bottom: 0;
	left: 0;
  height: 100%;
	z-index: -1;
}

.contenedor{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}
.bcg{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bcg img{
  width: 470px;
}

.cnt-login{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.cnt-login img{
  width: 125px;
  height: 108px;
}

form{
  width: 543px;
}

form h2{
  font-size: 2.9rem;
  margin: 15px 0;
  color: #333;
}

.inputs-div{
   display: grid;
   grid-template-columns: 7% 93%;
   margin: 25px 0;
   padding: 5px 0;
   border-bottom: 2px solid #d9d9d9;
 }

.inputs-div.focus > .img > i{
  color: #8BC347;
}

.inputs-div.focus > .div > h5{
    top: -5px;
    font-size: 15px;
}

.inputs-div .uno{
  margin-top: 0;
}
.inputs-div .dos{
  margin-bottom: 4px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img i{
  color: #d9d9d9;
}
.inputs-div > div{
  position: relative;
  height: 45px;
}
.inputs-div > div h5{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
}

a{
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover{
  color: #aeea00;
}

.btn{
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #80B742, #8BC347, #80B742);
  cursor: pointer;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-size: 200%;
  transition: 0.5s;
}

.btn:hover{
  background-position: right;
}

/**/
